*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

//img 설정
img {
  max-width: 100%;
  display: block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /*double click hilighting deactivate*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*nested list는 margin-bottom 0*/
ul ul,
ul li,
li ul,
li li,
form {
  margin-bottom: 0;
}

/**
Editor 내의 버튼에 이 태그가 적용됨.
처음엔 지웠었는데 나름 편리한 것 같아서 이거 살려두고
Editor 내에서의 버튼에만 hover 을 필터를 없애야 할 것 같음.
*/
button {
  padding: 0;
  border: 1px solid transparent;
  text-decoration: none;
  outline: none;
  &:hover {
    filter: brightness(0.9);
  }
  &:active {
    filter: brightness(0.8);
  }
}

textarea {
  padding: 0;
}

/**/
textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus {
  border-color: #7289da;
  outline: 1 solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

p {
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: black;
  &:visited {
    color: black;
  }
}
