@import '../utils/all';

$navbar-height: 3.25rem !default;
$navbar-brand-logo-height: 55px !default;
$navbar-item-color: $text !default;
$navbar-item-hover-color: $primary !default;
$navbar-item-hover-bg-color: rgba(black, 0.05) !default;
$navbar-background-color: white;
$navbar-active-menu-color: $navbar-background-color;
$navbar-burger-color: $navbar-item-color !default;
$navbar-dropdown-menu-width: 178px;
$navbar-dropdown-menu-bg: white;

$navbar-breakpoint: $tablet !default;

.navbar {
  display: flex;
  flex-direction: row;
  min-height: 55px;
  margin-top: 0.5rem;
  .logo {
  }
  @include until($navbar-breakpoint) {
    & > .container {
      flex-direction: column;
    }
  }
  &-start {
    justify-content: center;
    display: none;
    @include from($navbar-breakpoint) {
      margin-left: auto;
    }
  }
  &-end {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    @include until($navbar-breakpoint) {
      padding: 0rem 0rem;
      width: 100%;
      & > * + * {
        margin-top: 0.5rem;
      }
    }

    @include from($navbar-breakpoint) {
      margin-left: auto;
      flex-direction: row;
      & > * + * {
        margin-left: 2rem;
      }
    }
  }
  &-menu {
    display: none;
    background-color: $navbar-active-menu-color;
    width: 100%;
    @include until($navbar-breakpoint) {
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      flex-direction: column;
      &.is-active {
        display: flex;
      }
    }
    @include from($navbar-breakpoint) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-item {
    &:hover,
    &:focus {
      color: $navbar-item-hover-color;
    }
    color: $navbar-item-color;
    font-size: 1.3em;
  }
  &-brand {
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    justify-content: center;
    min-height: $navbar-brand-logo-height;

    @include until($navbar-breakpoint) {
      width: 100%;
      align-items: center;
    }
  }
  &-burger {
    transition-duration: $speed;
    transition-property: border-radius;
    transition-timing-function: $easing;
    &.is-active {
      border-radius: 50% 50%;
    }
    &:hover,
    &:focus {
      color: $navbar-item-hover-color;
    }
    //hamburger mixin.
    @include hamburger(52px /*임시 변수*/);
    margin-left: auto;
    @include from($navbar-breakpoint) {
      display: none;
    }
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem;
    width: 100%;
    & > * + * {
      margin-top: 0.5rem;
    }
    @include from($navbar-breakpoint) {
      display: none;
    }
  }

  .logged-in-nav {
    display: flex;
    flex-direction: column;
    @include until($navbar-breakpoint) {
      display: none;
    }
    @include from($navbar-breakpoint) {
      margin-left: auto;
      flex-direction: row;
      & > * + * {
        margin-left: 1rem;
      }
    }
    .has-dropdown {
      position: relative;
      @include from($navbar-breakpoint) {
        .navbar-link {
          cursor: pointer;
          &.new {
            display: flex;
            color: $primary;
            flex-shrink: 0;
            flex-grow: 0;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: 1px solid $grey-light;
            border-radius: 50%;
            transition: rotate 1 ease-in-out;
          }
          &.new.is-active {
            transform: rotate(45deg);
          }
        }

        .navbar-dropdown {
          @include shadow;
          padding: 0.6rem 0rem;
          display: flex;
          position: absolute;
          flex-direction: column;
          justify-content: stretch;
          font-size: 0.8rem;
          line-height: 1.5rem;
          width: $navbar-dropdown-menu-width;
          border: 1px solid hsl(0, 0%, 86%);
          border-radius: 1rem;
          background: $navbar-dropdown-menu-bg;
          top: 40px;
          right: 0px;
          & > .navbar-item {
            padding: 0.3rem 1rem;
            padding-left: 2rem;
            &:hover {
              background-color: $navbar-item-hover-bg-color;
            }
          }
          &::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: -14px;
            right: 11px;
            border: 7px solid transparent;
            border-bottom: 7px solid $navbar-dropdown-menu-bg;
          }
        }
      }
    }
  }
}
